<div class="container">
  <div class="col-lg-6">
    <% @todos.each do |todo| %>
    <h3 class="upp"> Tarea <%= todo.id %></h3>
    <div class="well"><p><%= todo.description %></p> <br> <p><strong><%= todo.completed %></strong></p></div>
    <%= link_to "Show ", todo, class: 'btn btn-primary' %>
    <%= link_to "Edit ", edit_todo_path(todo), class: 'btn btn-default' %>
    <%= link_to "Destroy ", todo, method: :delete, class: 'btn btn-danger' %>
    <%= link_to "Completed ", complete_todo_path(todo), class: 'btn btn-warning' %>
    <% end %> <br>
  </div>
 </div>

 <div class="box-todo container">
 	<div class="col-lg-6">
        <%= link_to "Crear una nueva tarea ", todos_new_path, class: 'boton btn btn-success btn-lg' %>
    </div>
 </div>

